.texto-galeria, .texto-mio {
  font-size: 25px;
  color: rgb(34, 22, 46);
}

.iframe-mio {
  width: 600px;
  height: 350px;
}

.navbar-miaprinc {
  background-color: rgb(154, 203, 207);
  justify-content: right;
  font-family: "Abel";
  font-size: 23px;
}

header {
  background-color: rgb(154, 203, 207);
}
header nav {
  justify-content: right;
}
header nav ul {
  list-style: none;
}
header nav ul li {
  font-family: "Abel";
}
header nav ul li a {
  font-size: 19px;
}

.dropdown-mio {
  background-color: rgb(66, 174, 186);
}

.titulonav-mio {
  color: rgb(3, 84, 73);
  font-size: 30px;
  font-family: "Julius Sans One";
}

@media (max-width: 576px) {
  .navbar-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 0;
  }
}

body {
  overflow-x: hidden;
}

/*titulos y subtitulos*/
.titulo-mio {
  font-family: "Fjalla One";
  font-size: 100px;
  color: rgb(52, 15, 122);
}

.titulo-mio2 {
  font-size: 70px;
  color: rgb(78, 5, 138);
  font-family: "Julius Sans One";
}

.subtitulo-1 {
  font-size: 50px;
  color: rgb(85, 26, 195);
  margin: 50px 250px;
  font-family: "Oswald";
}

.subtitulo-2 {
  font-size: 55px;
  color: rgb(85, 26, 195);
  margin: 130px;
  font-family: "Fjalla One";
}

.titulo-mapa {
  font-size: 80px;
  color: rgb(78, 5, 138);
  margin-left: 80px;
  font-family: "Julius Sans One";
}

.h2-actividades {
  color: rgb(36, 51, 125);
  font-size: 50px;
  margin: 30px 150px;
  font-family: "Fjalla One";
}

.mi-hotel {
  color: rgb(44, 132, 110);
  font-size: 50px;
  margin: 20px 100px;
  font-family: "Abel";
}

.h2-mapa {
  font-size: 60px;
  color: rgb(78, 5, 138);
  margin-left: 80px;
  font-family: "Julius Sans One";
}

@media (max-width: 576px) {
  .titulo-mio {
    font-size: 40px;
  }
  .titulo-mio2 {
    font-size: 30px;
  }
  .subtitulo-1 {
    font-size: 30px;
    margin: 20px 70px;
  }
  .subtitulo-2 {
    font-size: 25px;
    margin: 40px;
  }
  .titulo-mapa {
    font-size: 50px;
    color: rgb(78, 5, 138);
    margin-left: 60px;
  }
  .h2-actividades {
    font-size: 20px;
    margin: 40px;
  }
  .mi-hotel {
    font-size: 25px;
    margin: 8px 50px;
  }
  .h2-mapa {
    font-size: 40px;
    margin-left: 35px;
  }
}
/*textos*/
.texto-mio {
  font-family: "Space Grotesk";
}

.texto-galeria {
  font-family: "Julius Sans One";
}

.texto-carrusel {
  font-size: 50px;
  font-family: "Abel";
}

.texto-carrusel2 {
  font-family: "Abel";
  font-size: 30px;
}

.texto-acordeon {
  font-family: "Space Grotesk";
}

@media (max-width: 576px) {
  .texto-mio {
    font-size: 15px;
  }
  .texto-galeria {
    font-size: 14px;
  }
}
.tarjeta-mia {
  background: #749c9b;
  background: linear-gradient(0deg, #5fd5d3, #EDF1E9);
  padding: 15px;
  margin: 60px 100px 60px 100px;
  border-radius: 10px;
  font-family: "Fjalla One";
}

.tarjeta-mia:hover {
  transform: scale(1.4);
  transition: all 2s;
}

.mi-card {
  background-color: rgb(207, 248, 244);
  font-size: 20px;
  font-family: "Bai Jamjuree";
}

.micarta {
  margin: 0px 0px;
}

.acordeon-fondo1,
.acordeon-fondo1:active {
  background-color: rgb(95, 196, 214);
  font-family: "Julius Sans One";
}

.acordeon-fondo2 {
  background-color: rgb(154, 205, 214);
  font-family: "Julius Sans One";
}

.acordeon-fondo3 {
  background-color: rgb(223, 235, 236);
  font-family: "Julius Sans One";
}

.estilo-img {
  width: 300px;
  height: 250px;
}

.iconos-mio {
  margin: 10px 100px;
}

.iconos-miotren {
  margin: 10px 300px;
}

@media (max-width: 576px) {
  .tarjeta-mia {
    margin-left: 1rem;
    margin-right: 1rem;
  }
  .col-10 {
    width: 370px;
  }
  .iframe-mio {
    width: 350px;
    height: 200px;
  }
}
footer {
  color: rgb(68, 46, 46);
}
footer ul {
  list-style: none;
}
footer ul li {
  font-size: 14px;
  font-family: "Bodoni Moda";
}

@media (max-width: 576px) {
  .texto-footer li {
    font-size: 11px;
  }
}
.iconofooter {
  width: 30px;
  height: 30px;
  margin: 7px;
}

* {
  padding: 0%;
  margin: 0%;
}

body {
  background-color: rgb(224, 219, 215);
}

/*# sourceMappingURL=style.css.map */
