%texto{
    font-size: 25px;
    color: rgb(34, 22, 46);
};
%tmniframe{
    width: 600px;
    height: 350px;
};
%flexcenter{
    display: flex;
    flex-direction: column;
     align-items: center;
    padding-left: 0;
 }
 
