$colores:
rgb(52, 15, 122),
rgb(78, 5, 138),
rgb(34, 22, 46),
rgb(36, 51, 125),
rgb(95, 196, 214),
rgb(154, 205, 214),
rgb(223, 235, 236),
rgb(44, 132, 110),
rgb(207, 248, 244),
#4e058a,
rgb(85, 26, 195),
#a6d5eb,
black ;

$fsz:
100px,
80px,
60px,
50px,
40px,
30px,
20px,
10px;

$fszmedia:
14px,
15px,
25px;


$fuentes:
 Julius Sans One,

