$titulopages:(
 sizeletra: 70px,
 color: rgb(78, 5, 138),
 
 );

 $tarjeta:(
 
 pad: 15px,
 marg: 60px 100px 60px 100px,
 borde: 10px,


 );

 $img:(
    ancho: 300px,
    largo: 250px,
 );
   
 $fuentes:(
    abel: 'Abel',
    bodoni:'Bodoni Moda',
    fjalla:'Fjalla One', 
    julius:'Julius Sans One',
    oswald:'Oswald',
    space:'Space Grotesk', 
    bai:'Bai Jamjuree', 
 );
   
